body{
	font-family: "Varela Round", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color:#003286;
	margin: 0;
   	padding:0;}

.outer{
  	text-align: center;
	background-color:#003286;
	padding:0;}

.topofpage{
	display:flex;
	flex-direction: row;
	flex-wrap:nowrap; 
	background-color:white;
	align-items:center;
	padding-left: 10px;
	padding-right: 10px;
	height:70px;
	position: sticky;
	position: -webkit-sticky; /* Safari */
	top: 0;
	z-index: 100;}
	
.logo{max-width:50px;}

.logo_img{
	width:100%;
	vertical-align: middle;}

.desktopmenu{flex-grow: 1;}
	
	a
	{color:#003286;
  	font-size:16px;
  	font-weight: bold; 
  	text-decoration: none;
	margin-right:20px;}

.search {width:275px;}

.search_img{
	width:100%;
	vertical-align: middle;}

.heroimg{
	position: relative;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	height:250px;
	background-image: url("../img/uncookedmac.png");
	display:flex;
	justify-content:center;
	align-items: center;}
	
.herotext{
	vertical-align: middle;
	color:#FFB62E;
	background-color:#003286;
	border-radius: 40px;
	padding:15px;
	font-size:30px;
	font-weight:800;}

.page{
	background-color:#003286;
	color:#003286;
	position: relative;
	font-size: 26px;
	text-align:left;
	display:inline-block;
	width:100%}

.filter{
	overflow:auto;
	width:100%;
	text-align: center;}

.filter img{
	max-width:100%;}

.craftcard{
	width:100%;
	overflow:auto;
	background-color:#FDF9F0;
	border:solid;
	padding-bottom: 10px;}

.craftcard img{
	width:100%;
	overflow:auto;}

.shape{
	color:#003286;
	font-size:14px;
	padding-left:10px;}

.craftname {padding-left:10px;}


	