body{
	font-family: "Varela Round", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color:#003286;
	margin: 0;
   	padding:0;}

.outer{
  	text-align: center;
	background-color:#003286;
	padding:0;}
	
.page{
	background-color:#003286;
	color:white;
	position: relative;
	font-size: 40px;
	text-align:left;}

.craftcard{margin:20px;}

.craftcard img:hover{
	animation-fill-mode: forwards;
	animation-name: changescale;
	animation-duration: .5s;
	animation-timing-function: ease-in;}

@keyframes changescale {
	from {transform:scale(1,1)}
	to {transform:scale(1.05,1.05)}}