<!doctype html>
<html>
<head>
  <title>Kraft Mac & Cheese</title>
 
	<link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
  
	 <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/layout.css">

</head>

<body>

	
<div class="outer">
	
	<div class="topofpage">
			
			<div class="logo"> 
				<a href="index.html"> <img src="img/logo.png" alt="logo" class="logo_img"></a></div>	
			
			<div class="desktopmenu">
				<a href="products.html">products</a>
				<a href="aboutus.html">about us</a></div>
			
			<div class="search"> 
				<img src="img/search.png" alt="search" class="search_img"> </div>
			
		</div>
	<div class="page">
		
	<div class="heroimg"> <div class="herotext"> across page header image</div></div>
		
	<div> craft filter <br> <img src="img/craftfilter.png" alt="filter"/></div>
		
	
	<div>crafts
		
	
    <div class="side_bar">
    <img src="img/rainbow.png" alt="rainbow">
    <br><span class="section">SMILES</span><br>Rainbow</div>
    
	<div class="side_bar">
    <img src="img/windowhanging.png" alt="widowhanging">
    <br><span class="section">EXECUTIVES</span><br>Window Hanging</div>

  
    <div class="side_bar">
    <img src="img/flowers.png" alt="flowers">
    <br><span class="section">SPIRALS</span><br>flowers</div>
	
		</div>
	
		</div>
	

</div>
</body>
</html>
	
	